<div class="banner p-5">
  <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %>
</div>
<div class="container">
  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
</div>

<div class=" container">
  <h2><%= @flat.description %></h2>
  <div class="bg-primary bg-opacity-50 p-5">
  </div>

</div>
